body {
  background-image: url("/src/img/newspic.jpg");
  background-repeat: no-repeat;
  
}

.ant-layout-header {
  height: 79px;
  line-height: 77px;
  background-color: white;
  border-bottom: 1px solid white;
  padding: 0;
}
/* .app-content {
  background-color: transparent !important;
} */

.layout {
  background-color: transparent !important;
}