.photo{
    height: 70% !important;
    width: 70% !important;
    margin-left: 5pc;
    margin-top: 3pc;
  }

  .logo{
    height: 500px;
    width: 1000px;
    margin-left: 15pc;
    margin-top: 3pc;
  }